<div class="card border-0 shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-centered table-nowrap mb-0 rounded">
        <thead class="thead-dark">
          <tr>
            <th class="border-0 rounded-start">#</th>
            <th class="border-0">Name</th>
            <th class="border-0">Location</th>
            <th class="border-0">Version</th>
            <th class="border-0">AWACS Status</th>
            <th class="border-0 rounded-end">Health Status</th>
          </tr>
        </thead>
        <tbody>
          <!-- Item -->
          <tr>
            <td><a href="#" class="text-primary fw-bold">1</a> </td>
            <td>
              <div class="row align-items-center mb-3">
                <div class="col">
                  <div class="progress-wrapper">
                    <div class="progress-info">
                      <div class="h6 mb-0">VIVECS1</div>
                      <div class="small fw-bold text-gray-500"><span>5/20PiB (25 %)</span></div>
                    </div>
                    <div class="progress mb-0">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              VGIS DH3 - 2B1
            </td>
            <td>
              <button class="btn btn-success" type="button">3.9.2</button>
            </td>
            <td>
              <button class="btn btn-success" type="button">OK</button>
            </td>
            <td class="text-success">
              <button class="btn btn-warning" type="button">WARNING</button>
            </td>
          </tr>
          <!-- End of Item -->

          <!-- Item -->
          <tr>
            <td><a href="#" class="text-primary fw-bold">1</a> </td>
            <td>
              <div class="row align-items-center mb-3">
                <div class="col">
                  <div class="progress-wrapper">
                    <div class="progress-info">
                      <div class="h6 mb-0">VIVECS2</div>
                      <div class="small fw-bold text-gray-500"><span>18/20 (90 %)</span></div>
                    </div>
                    <div class="progress mb-0">
                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100" style="width: 90%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              DIVA P118 - 4B3
            </td>
            <td>
              <button class="btn btn-success" type="button">3.9.2</button>
            </td>
            <td>
              <button class="btn btn-success" type="button">OK</button>
            </td>
            <td class="text-success">
              <button class="btn btn-warning" type="button">WARNING</button>
            </td>
          </tr>
          <!-- End of Item -->

          <!-- Item -->
          <tr>
            <td><a href="#" class="text-primary fw-bold">3</a> </td>
            <td class="fw-bold d-flex align-items-center">
              <svg class="icon icon-xxs text-gray-500 me-2" aria-hidden="true" focusable="false" data-prefix="fab"
                data-icon="youtube" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path fill="currentColor"
                  d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                </path>
              </svg>
              youtube.com
            </td>
            <td>
              Social
            </td>
            <td>
              <a class="small fw-bold" href="#">Arts and Entertainment</a>
            </td>
            <td>
              <div class="row d-flex align-items-center">
                <div class="col-12 col-xl-2 px-0">
                  <div class="small fw-bold">18%</div>
                </div>
                <div class="col-12 col-xl-10 px-0 px-xl-1">
                  <div class="progress progress-lg mb-0">
                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="18" aria-valuemin="0"
                      aria-valuemax="100" style="width: 18%;"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              -
            </td>
          </tr>
          <!-- End of Item -->

          <!-- Item -->
          <tr>
            <td><a href="#" class="text-primary fw-bold">4</a> </td>
            <td class="fw-bold d-flex align-items-center">
              <svg class="icon icon-xxs text-gray-500 me-2" aria-hidden="true" focusable="false" data-prefix="fab"
                data-icon="yahoo" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M223.69,141.06,167,284.23,111,141.06H14.93L120.76,390.19,82.19,480h94.17L317.27,141.06Zm105.4,135.79a58.22,58.22,0,1,0,58.22,58.22A58.22,58.22,0,0,0,329.09,276.85ZM394.65,32l-93,223.47H406.44L499.07,32Z">
                </path>
              </svg>
              yahoo.com
            </td>
            <td>
              Referral
            </td>
            <td>
              <a class="small fw-bold" href="#">News and Media</a>
            </td>
            <td>
              <div class="row d-flex align-items-center">
                <div class="col-12 col-xl-2 px-0">
                  <div class="small fw-bold">8%</div>
                </div>
                <div class="col-12 col-xl-10 px-0 px-xl-1">
                  <div class="progress progress-lg mb-0">
                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="8" aria-valuemin="0"
                      aria-valuemax="100" style="width: 8%;"></div>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-danger">
              <div class="d-flex align-items-center">
                <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="fw-bold">9.45%</span>
              </div>
            </td>
          </tr>
          <!-- End of Item -->

          <!-- Item -->
          <tr>
            <td><a href="#" class="text-primary fw-bold">5</a> </td>
            <td class="fw-bold d-flex align-items-center">
              <svg class="icon icon-xxs text-gray-500 me-2" aria-hidden="true" focusable="false" data-prefix="fab"
                data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
                </path>
              </svg>
              twitter.com
            </td>
            <td>
              Social
            </td>
            <td>
              <a class="small fw-bold" href="#">Social Networks</a>
            </td>
            <td>
              <div class="row d-flex align-items-center">
                <div class="col-12 col-xl-2 px-0">
                  <div class="small fw-bold">4%</div>
                </div>
                <div class="col-12 col-xl-10 px-0 px-xl-1">
                  <div class="progress progress-lg mb-0">
                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="4" aria-valuemin="0"
                      aria-valuemax="100" style="width: 4%;"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              -
            </td>
          </tr>
          <!-- End of Item -->
        </tbody>
      </table>
    </div>
  </div>
</div>