<div class="col-12 col-xxl-6 mb-4">
  <div class="card border-0 shadow">
    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
      <h2 class="fs-5 fw-bold mb-0">Top Namespaces</h2>
      <a href="#" class="btn btn-sm btn-primary">See all</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-dark">
            <tr>
              <th class="border-0 rounded-start">Namespace</th>
              <th class="border-0">Owner</th>
              <th class="border-0">Total Quota</th>
            </tr>
          </thead>
          <tbody>
            <!-- Item -->
            <tr>
              <td class="border-0">
                <a href="#" class="d-flex align-items-center">
                  <div><span class="h6">cs-cassandra-p</span></div>
                </a>
              </td>
              <td class="border-0 fw-bold">DPE</td>
              <td class="border-0 text-success">
                <div class="d-flex align-items-center">
                  <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="fw-bold">220TiB</span>
                </div>
              </td>
            </tr>
            <!-- End of Item -->

            <!-- Item -->
            <tr>
              <td class="border-0">
                <a href="#" class="d-flex align-items-center">
                  <div><span class="h6">cs-icsstorage-s</span></div>
                </a>
              </td>
              <td class="border-0 fw-bold">ICS</td>
              <td class="border-0 text-success">
                <div class="d-flex align-items-center">
                  <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="fw-bold">17TiB</span>
                </div>
              </td>
            </tr>
            <!-- End of Item -->

            <!-- Item -->
            <tr>
              <td class="border-0">
                <a href="#" class="d-flex align-items-center">
                  <div><span class="h6">cs-extract-p</span></div>
                </a>
              </td>
              <td class="border-0 fw-bold">QP</td>
              <td class="border-0 text-success">
                <div class="d-flex align-items-center">
                  <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="fw-bold">10TiB</span>
                </div>
              </td>
            </tr>
            <!-- End of Item -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>